<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.orderyurt.UserInterface">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.orderyurt.Login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".AddReviewActivity" >
        </activity>
        <activity android:name=".BasketActivity" >
        </activity>
        <activity android:name=".CustomerPageActivity" >
        </activity>
        <activity android:name=".EditMenuActivity" >
        </activity>
        <activity android:name=".MenuActivity" >
        </activity>
        <activity android:name="PayActivity" >
        </activity>
        <activity android:name=".RegisterCustomerActivity" >
        </activity>
        <activity android:name=".RegisterRestaurantActivity" >
        </activity>
        <activity android:name=".ReviewsListActivity" >
        </activity>
        <activity android:name=".SplitPayActivity" >
        </activity>
        <activity android:name=".RestaurantPageActivity" />
        <activity android:name=".CreateCouponActivity" />
        <activity android:name=".ViewRestaurantPageActivity" />

    </application>

</manifest>