<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.orderyurt.UserInterface">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".PaymentActivity"
            android:label="@string/titlePayment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasketActivity"
            android:label="@string/baketTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.orderyurt.Login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AddReviewActivity" />
        <activity android:name=".CustomerPageActivity" />
        <activity android:name=".EditMenuActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegisterCustomerActivity" />
        <activity android:name=".RegisterRestaurantActivity" />
        <activity android:name=".ReviewsListActivity" />
        <activity android:name=".SplitPayActivity" />
        <activity android:name=".RestaurantPageActivity" />
        <activity android:name=".CreateCouponActivity" />
        <activity android:name=".ViewRestaurantPageActivity" />
        <activity android:name=".AddItemActivity" />
    </application>

</manifest>