<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.orderyurt.Controllers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.orderyurt.Controllers.PaymentActivity"
            android:label="@string/titlePayment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.orderyurt.Controllers.BasketActivity"
            android:label="@string/baketTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.orderyurt.Controllers.CreateCouponActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.orderyurt.Controllers.MainActivity" />
        <activity android:name="com.example.orderyurt.Controllers.AddReviewActivity" />
        <activity android:name="com.example.orderyurt.Controllers.CustomerPageActivity" />
        <activity android:name="com.example.orderyurt.Controllers.EditMenuActivity" />
        <activity android:name="com.example.orderyurt.Controllers.MenuActivity" />
        <activity android:name="com.example.orderyurt.Controllers.RegisterCustomerActivity" />
        <activity android:name="com.example.orderyurt.Controllers.RegisterRestaurantActivity" />
        <activity android:name="com.example.orderyurt.Controllers.ReviewsListActivity" />
        <activity android:name="com.example.orderyurt.Controllers.SplitPayActivity" />
        <activity android:name="com.example.orderyurt.Controllers.RestaurantPageActivity" />
        <!--<activity android:name="com.example.orderyurt.Controllers.CreateCouponActivity" />-->
        <activity android:name="com.example.orderyurt.Controllers.ViewRestaurantPageActivity" />
        <activity android:name="com.example.orderyurt.Controllers.AddItemActivity" />
    </application>

</manifest>